.headerContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* ナビゲーションバー */
.navItem {
    padding: 10px 20px;
    border: 1px solid #000000;
    border-left: none;
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    font-weight: bold;
    color: black;
    white-space: nowrap; /* テキストが折り返さないように */
}

/* 最初のナビゲーション項目の左側の境界線を表示 */
.navItem:first-child {
    border-left: 1px solid #000000;
}

.logoArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.user_id {
    font-size: 0.7rem;
    font-weight: normal;
}

/* リンクアイテム（ホーム、検索など） */
.linkItem {
    background-color: #B3E0F2;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 色変化を滑らかに */
}

/* ホバー時の色変更 */
.linkItem:hover {
    background-color: #8FD8F4; /* ホバー時の色 */
}

/* 検索窓 */
.searchBar {
    background-color: #B3E0F2;
}

.searchIcon {
    margin-right: 5px;
}

/* 検索入力欄 */
.searchInput {
    border: none;
    background: transparent;
    outline: none; /* フォーカス時の枠線を消す */
    font-size: 1em;
    padding: 0;
    /* 入力欄の幅 */
    width: 230px; 
}